header{
    font-weight: fit;
    min-height: 100vh;
    padding-top: 7rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/omharta.jpg) center/cover no-repeat;
    flex-direction: column;
    color: #fff;
    text-align: center;
}